<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Primeiro RAZOR Page Masa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-secondary">
        isso é um Header
        <nav class="bg-">
             isso é uma Barra de Navegação
        </nav>
    </header>
    <div class="m-2 bg-primary text-white bg-black">
        @RenderBody()
    </div>
    <footer class="bg-danger text-white">
        isso é um Footer
    </footer>
</body>
</html>