@{
    ViewData["Title"] = "Pagina Razor Masa";
}

<div>
    <p>TEXTO DA IMAGEM</p>
    <img src="~/imgs/a-creative-and-modern-design-featuring-a-stylized--U1Reqdw3QN6WwUtxtxQzyQ-1RKbguB5QpWLJq1esxYQPQ.jpeg" class="img-thumbnail" alt="Logo MindTheHeadphone" />
</div>
